body {
    background: #FAE16DFF;
    padding: 40px;
}

#nameGame {
    font-family: 'Lobster', serif;
    font-size: 3em;
    text-decoration: underline;
    text-decoration-style: double;
}

h2 {
    font-family: 'Lobster', serif;
    font-size: 30px;
}


/*edit the container of modes*/
.mode {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    font-family: 'Lobster Two', serif;
    font-size: 25px;
    user-select: none;
}
/* hide the default radio button*/
.mode input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/*customize radio buttons*/
.checkmark {
    position: absolute;
    margin-top: 5px;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #C5F78BFF;
    border-radius: 50%;
}

.mode:hover input ~ .checkmark {
    background-color: #ADF358FF;
}

/*change background when checked*/
.mode input:checked ~ .checkmark {
    background-color: #5EE802FF;
}

/*create indicator dot, hidden*/
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/*show indicator dot when checked*/
.mode input:checked ~ .checkmark:after {
    display: block;
}

/*style for dot*/
.mode .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
}

button {
    background-color: #06F853FF;
    border-radius: 7px;
    box-shadow: 0px 5px 1px #E1B609FF;
    padding: 5px;
    font-size: 20px;
    font-family: 'Lobster Two', serif;

}


button:hover {
    cursor: pointer;
    box-shadow: 0 3px 1px #E1B609FF;
}
button:active {
    cursor: pointer;
    box-shadow: 0 1.5px 1px #E1B609FF;
    outline: none;
}

button#start {
    font-family: 'Concert One', sans-serif;
    float: right;
    background-color: #5EE802FF;
}


#app-container {
    max-width: 720px;
    border: 1px solid black;
    margin: 0 auto;
}

#app-container div {
    padding: 5px 5px;
    box-sizing: border-box;

}

#container {
    display: grid;
    grid-template-columns: 250px 750px 250px;
    grid-template-rows: 100%;
}

.gamers {
    border: 2px solid black;
}


#gameSectionLeft {
    width: 250px;
    height: 700px;
    float: left;
    display: none;
}

#gameSectionRight {
    width: 250px;
    height: 700px;
    float: right;
    display: none;
}

.row {
    display: block;
    width: 100%;
}

.column {
    display: inline-block;
    /*width: 30%;  Shay */
    width: 200px; /* Shay */
    height: 200px;
    margin: 10px;
    border: 1px solid rgba(20, 20, 20, 0.3);
}

.column:hover {
    cursor: pointer;
    background-color: #6499d4
}

h1 {
    text-align: center;
}

.player1 {
  background-image: url("../img/X.jpg");
}

.player2 {
  background-image: url("../img/O.jpg");
}
