/* General Styles */

body {
    background: #3c3c3fFF;
    padding: 40px;
	color: #b01717;
}
.hidden {
	display: none;
}

.window {
	position: fixed;
	width: 75%;
	background-color: rgba(0,0,0,0.7);
	padding: 2% 5%;
	border: 30px solid rgba(255,255,255, 0.6);
	box-sizing: border-box;
	left: 12.5%;
	border-radius: 40px;
	z-index: 1;
}

/* Header */

#nameGame {
    font-family: 'Lobster', serif;
    font-size: 4em;
    text-decoration: underline;
	text-shadow: -1px -1px 3px white;
	text-align: center;
}

#logo {
	top: 6%;
	position: fixed;
	margin: 0 auto;
	max-width: 10%;
}

/* Game Configuration Window */

#game_mode {
	margin:10px auto;
	width: 100%;
}

#game_mode legend {
    font-family: 'Lobster Two', serif;
    text-decoration: underline;
    font-size: 2.6em;
    margin: 15px auto;
    text-align: center; 
}

#game_mode input {
	margin: 20px auto;
	text-align: center;
	width: 60%;
	display: block;
	padding: 5px 5px;
	border-radius: 10px;
	font-size: 1.8em;
	color: grey;
}

	/*edit the container of modes*/
/*
.mode {
    display: block;
    position: relative;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    font-family: 'Lobster Two', serif;
    font-size: 25px;
    user-select: none;
}
*/

	/* hide the default radio button*/
/*
.mode input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
*/

	/*customize radio buttons*/
/*
.checkmark {
    position: absolute;
    margin-top: 5px;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #C5F78BFF;
    border-radius: 50%;
}
*/

/*
.mode:hover input ~ .checkmark {
    background-color: #ADF358FF;
}
*/

	/*change background when checked*/
/*
.mode input:checked ~ .checkmark {
    background-color: #5EE802FF;
}
*/

	/*create indicator dot, hidden*/
/*
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
*/

	/*show indicator dot when checked*/
/*
.mode input:checked ~ .checkmark:after {
    display: block;
}
*/

/*style for dot*/
/*
.mode .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
}
*/


/*button {
    background-color: #06F853FF;
    border-radius: 50px;
    box-shadow: 0px 5px 1px #44A101FF;
    padding: 5px;
    font-size: 20px;
    font-family: 'Lobster Two', serif;

}*/

#start {
    font-family: 'Concert One', sans-serif;
    border-radius: 50px;
    box-shadow: 0px 5px 1px #44A101FF;
    background-color: #5EE802FF;
    display: block;
    margin: 10px auto;
    width: 60%;
    padding: 15px 0;
    font-size: 2em
}

#start:hover {
    cursor: pointer;
    box-shadow: 0 3px 1px #44A101FF;
}

#start:active {
    cursor: pointer;
    box-shadow: 0 1.5px 1px #44A101FF;
    outline: none;
}




/* The Game Console */

#console-container {
    margin: 0 auto;
}

#app-container {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 6px;
    box-shadow: inset 0 0 10px 1px black;
    max-height: 466px;
    max-width: 466px;
    margin: 0 auto;
    transition: height 1s;
}

#app-container div {
    box-sizing: border-box;
}

.players {
    height: 42vw; 
    width:100%;
    margin: 0 auto;
    border-radius: 30%;
    box-shadow: inset 0 0 10px 1px black;
    background-color: rgba(0, 0, 0, 0.3);
    max-height: 441px;
    max-width: 155px;
}

.players p {
	text-align: center;
	font-size: 1.3em;
	position: relative;
	line-height: 5
	
}

.row {
    display: block;
    width: 100%;
    padding: 0;
}

.unchecked {
    display: inline-block;
    width: 30%; /* Shay */
    height: 13vw;
    margin: 1.65%;
    border: 1px solid rgba(20, 20, 20, 0.3);
    background-size: contain;
	background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    max-height: 133px;
}

.unchecked:hover {
    cursor: pointer;
    background-color: #6499d4
}
.checked {
    display: inline-block;
    width: 30%; /* Shay */
    height: 13vw;
    margin: 1.65%;
    border: 1px solid rgba(20, 20, 20, 0.3);
    background-size: contain;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    max-height: 133px;
}

.checked:hover {
    cursor: pointer;
    background-color: #6499d4
}

.player1 {
  background-image: url("../assets/images/X.jpg");
}

.player2 {
  background-image: url("../assets/images/O.jpg");
}
